<h2>Routes</h2>

<h3>Search for resources</h3>

<h3>Find a specific resource</h3>

<h3>Create a new resource</h3>

<h3>Delete an existing resource</h3>

<h3>Update an existing resource</h3>

<h3>Get a related resource??</h3>

<h3>Get the relationships between two resources??</h3>

<h3>Update the relationships between two resources??</h3>

